.main button {
  background-color: var(--trustBlue);
  color: var(--white);

  border: 1px solid var(--trustBlue);
  border-radius: 10px;

  font-size: 13pt;

  padding: 5px 20px;
}

.main {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (hover: hover) {
  .main button:hover {
    background-color: var(--white);
    color: var(--trustBlue);
  }
}
