.menu,
.menu menu {
 
  display: flex;
  align-items: center;
  padding-inline-start: 0px;
  margin: 0;
}

.menu {
  height: 40px;
  background-color: var(--gris2);
  border-radius: 10px;
  padding: 0 10px;
}
