.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  width: 100%;
  align-self: center;


  background-color: var(--gris2);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.main button {
  padding: 5px 10px;
  border-radius: 10px;

  border-width: 1px;
  border-style: solid;
  font-size: 12pt;

  cursor: pointer;

  width: 200px;
}

.H {
  background-color: var(--trustBlue);
  border-color: var(--trustBlue);
  color: var(--white);
}
.S {
  background-color: var(--gris2);
  color: var(--corporateBlue);
  border-color: var(--gris2);
}
.Done {
  background-color: var(--corporateBlue);
  color: var(--white);
}

@media (hover: hover) {
  .H:hover {
    background-color: var(--white);
    color: var(--trustBlue);
  }
  .S:hover {
   background-color: var(--gris3);
  }
  .Done:hover {
    background-color: var(--white);
    color: var(--corporateBlue);
  }
}
