:root {
  --corporateBlue: #001429;
  --trustBlue: #003366;
  /* //TODO trouver une nouvelle couleur de bg pour les btn actif.  */
  --trustBlue15: #eeeeee;
  --flashquizzGold: #ffd700;
  --friendlyPeach: #ffead5;
  --friendlyPeach60: #ffead5;
  /* --friendlyPeach60: #fef3e5; */
  --white: #ffffff;
  --gris1: #fdfdfd;
  --gris2: #f6f6f6;
  --gris3: #eeeeee;
  --green: #a5dc9f;
  --font-inter: "Inter", sans-serif;
  --font-rokkitt: "Rokkitt", serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--gris1);
  font-family: Inter;
  padding: 0;
  margin: 0;
}


.ProseMirror ol::marker,
.ProseMirror ul::marker {
  font-size: inherit;
  font-family: inherit;
}

/* Chaque "page" démarre après un widget page-start */
.page-start {
  margin-top: 20px;
  padding-top: 72pt;
  width: 794px;
  box-sizing: border-box;

  border-left: 1px solid var(--corporateBlue);
  border-right: 1px solid var(--corporateBlue);
  border-top: 1px solid var(--corporateBlue);

  /* background-color: wheat; */
}

.page-node {
  max-width: 794px;
  /* background-color: wheat; */
  border-left: 1px solid var(--corporateBlue);
  border-right: 1px solid var(--corporateBlue);
}

.page-widget {
  /* background-color: rgb(206, 193, 171); */
  width: 794px;
  padding-bottom: 72pt;
  box-sizing: border-box;

  margin-bottom: 20px;
  border-left: 1px solid var(--corporateBlue);
  border-right: 1px solid var(--corporateBlue);
  border-bottom: 1px solid var(--corporateBlue);
}

/* Le widget "page-end" est optionnel, tu peux le rendre invisible */
.page-end {
  display: none;
}

.loading-wrapper {
  position: relative;
}

.loading-content {
  position: relative;
  z-index: -1; /* contenu en dessous */
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.6); /* optionnel */
  z-index: 1;
}

.spinner {
  width: 30px;
  height: 30px;
  border: 3px solid #ccc;
  border-top-color: #007bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
