.main {
  background-color: var(--white);

  display: flex;
  flex-direction: column;
}

/* HEADER */
.main header {
  position: relative;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  background-color: var(--corporateBlue);
  padding-top: 40px;
  padding-bottom: 20px;
  margin-bottom: 50px;
}

.main header::after {
  transform: rotateX(180deg);
  transform: rotateY(180deg);
  position: absolute;
  bottom: -29px;
  right: 0;
  display: block;
  content: "";
  width: 100vw; /* AB */
  height: 30px; /* BC */
  background: var(--corporateBlue);
  clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
}

.main header img {
  width: 250px;
  height: auto;
}

.main header span {
  color: white;
  letter-spacing: 7pt;
  font-size: 15pt;
}
/* HEADER */

/* BTN START*/
.button {
  margin: 20px 0;
  align-self: center;
}

.button button {
  z-index: 1;
  display: none;

  background-color: var(--corporateBlue);
  color: var(--white);
  border: 2px solid var(--corporateBlue);
  border-radius: 5px;

  cursor: pointer;
  letter-spacing: 3pt;

  padding: 5px 10px;
}

.button span {
  display: block;
  text-align: center;
  max-width: 80vw;
  color: red;
}
/* BTN START*/

/* Link */
.main a {
  font-size: 10pt;
  align-self: center;

  color: var(--trustBlue);
}
/* Link */

/* article */
.main article {
  width: 80vw;
  align-self: center;

  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.main article p {
  text-align: justify;
}

.main article strong {
  color: var(--trustBlue);
}

.main article button {
  background-color: var(--corporateBlue);
  color: var(--white);
  border: 2px solid var(--corporateBlue);
  border-radius: 10px;

  cursor: pointer;
  letter-spacing: 2pt;
  font-size: 12px;

  padding: 5px 10px;

  display: flex;
  align-items: center;
  gap: 15px;

  margin: 5px 0;
}

.main article button svg {
  fill: var(--white);
}

.container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
/* article */

/*QUERY*/
@media (hover: hover) and (min-width: 700px) {
  .button button {
    display: block;
  }

  .button span {
    display: none;
  }
}

@media (hover: hover) {
  .button button:hover,
  .main article button:hover {
    background-color: var(--white);
    color: var(--corporateBlue);
  }
  .main article button:hover svg {
    fill: var(--corporateBlue);
  }
}

@media (min-width: 700px) {
  .main article {
    flex-direction: row;
    gap: 100px;
    max-width: 800px;

    margin-bottom: 80px;
  }
  .container {
    flex-direction: row;
    justify-content: space-between;
  }

  .main a{
    margin-bottom: 70px;
  }
}
/*QUERY*/
