.bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 999;

  background-color: #fff;
  

  display: flex;
  align-items: center;
  justify-content: center;

  top: 0;
  left: 0;
}
.main {
  width: 400px;
  height: 300px;
  /* background-color: #fff; */

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}
.main > div {
  color:var(--corporateBlue);
  font-size: 12pt;
}
.main > span {
}

.loadingBar {
  display: block;
  width: 100%;
  height: 10px;
  background: var(--gris3);
  border-radius: 5px;
  overflow: hidden;
}

.fill {
  width: 0;
  height: 100%;
  background: var(--corporateBlue);
  animation: fillBar 8s linear forwards;
}

@keyframes fillBar {
  0% {
    width: 0;
  }
  15% {
    width: 9%;
  }
  26% {
    width: 30%;
  }
  37% {
    width: 31%;
  }
  50% {
    width: 55%;
  }
  60% {
    width: 60%;
  }
  70% {
    width: 75%;
  }
  77% {
    width: 78%;
  }
  90% {
    width: 86%;
  }
  100% {
    width: 100%;
  }
}
