.input:focus {
  border-bottom-color: var(--corporateBlue);
  outline: none;
}

.input {
  margin: 10px 0;
  border: 2px solid transparent;
  border-radius: 2.5px;
  width: fit-content;
  background-color: var(--gris1);
  font-size: 14pt;
}
