.menu {
  --color: #99a1a9;
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: space-around;

  bottom: 100%;

  background-color: var(--gris2);
  border-radius: 5px;

  padding: 5px 10px;

  width: 300px;

  z-index: 99;
}

.main {
  position: relative;
  color: var(--color);
}

.select {
  position: relative;
  color: var(--color);

  cursor: pointer;
}

.selectMain {
  color: var(--color);
  height: 30px;
  width: 100px;
  background-color: var(--gris2);

  padding: 0 10px;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.selectOptions {
  position: absolute;
  top: 35px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  background-color: var(--gris2);

  padding: 10px;
  border-radius: 5px;

  max-height: 125px;
  overflow-y: scroll;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #999 transparent; /* Firefox */
  overflow-x: hidden;
  color: var(--color);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.selectOptions::-webkit-scrollbar {
  width: 6px;
}
.selectOptions::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 3px;
}
.selectOptions::-webkit-scrollbar-track {
  background: transparent;
}

.selectOptions > * {
  font-size: 10pt;
  width: 100%;

  padding: 5px 10px;
  border-radius: 5px;
}

.edit {
  padding: 7px 15px;
  background-color: var(--gris2);
  color: var(--color);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 5px;

  cursor: pointer;
}

.del button {
  border: 1px solid #ff6c6c;
  border-radius: 50px;
  background-color: #ff6c6c;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 20px;
  height: 20px;
}

.del button span {
  background-color: var(--white);
  width: 15px;
  height: 2px;
  display: block;
  border-radius: 2px;
}

@media (hover: hover) {
  .selectMain:hover,
  .selectOptions > *:hover,
  .edit:hover {
    background-color: var(--gris3);
  }

  .del button:hover{
    background-color: var(--white);
  }

  .del button:hover span {
    background-color: #ff6c6c;
  }
}
